<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear /><!-- Clears all default sources, including nuget.org -->    
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ESS" value="https://nuget.essinc.com/nuget" />    
  </packageSources>
 </configuration>