.container {
    position: relative;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.container__fluid {
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

    .row.reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

.col.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

@media only screen and (min-width: 576px) {
    .container {
        width: 528px;
        max-width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .container__fluid {
        padding-right: 12px;
        padding-left: 12px;
    }

    .row {
        margin-right: -12px;
        margin-left: -12px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
        padding-right: 24px;
        padding-left: 24px;
    }

    .container__fluid {
        padding-right: 24px;
        padding-left: 24px;
    }

    .row {
        margin-right: -24px;
        margin-left: -24px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 944px;
        max-width: 100%;
        padding-right: 24px;
        padding-left: 24px
    }

    .container__fluid {
        padding-right: 24px;
        padding-left: 24px;
    }

    .row {
        margin-right: -24px;
        margin-left: -24px;
    }
}

@media only screen and (min-width: 1423px) {
    .container {
        width: 1375px;
        max-width: 100%;
        padding-right: 24px;
        padding-left: 24px
    }

    .container__fluid {
        padding-right: 24px;
        padding-left: 24px;
    }

    .row {
        margin-right: -24px;
        margin-left: -24px;
    }
}

.colXs, .colXs__1, .colXs__2, .colXs__3, .colXs__4, .colXs__5, .colXs__6, .colXs__7, .colXs__8, .colXs__9, .colXs__10, .colXs__11, .colXs__12, .colXsOffset__0, .colXsOffset__1, .colXsOffset__2, .colXsOffset__3, .colXsOffset__4, .colXsOffset__5, .colXsOffset__6, .colXsOffset__7, .colXsOffset__8, .colXsOffset__9, .colXsOffset__10, .colXsOffset__11, .colXsOffset__12, .colSm, .colSm__1, .colSm__2, .colSm__3, .colSm__4, .colSm__5, .colSm__6, .colSm__7, .colSm__8, .colSm__9, .colSm__10, .colSm__11, .colSm__12, .colSmOffset__0, .colSmOffset__1, .colSmOffset__2, .colSmOffset__3, .colSmOffset__4, .colSmOffset__5, .colSmOffset__6, .colSmOffset__7, .colSmOffset__8, .colSmOffset__9, .colSmOffset__10, .colSmOffset__11, .colSmOffset__12, .colMd, .colMd__1, .colMd__2, .colMd__3, .colMd__4, .colMd__5, .colMd__6, .colMd__7, .colMd__8, .colMd__9, .colMd__10, .colMd__11, .colMd__12, .colMdOffset__0, .colMdOffset__1, .colMdOffset__2, .colMdOffset__3, .colMdOffset__4, .colMdOffset__5, .colMdOffset__6, .colMdOffset__7, .colMdOffset__8, .colMdOffset__9, .colMdOffset__10, .colMdOffset__11, .colMdOffset__12, .colLg, .colLg__1, .colLg__2, .colLg__3, .colLg__4, .colLg__5, .colLg__6, .colLg__7, .colLg__8, .colLg__9, .colLg__10, .colLg__11, .colLg__12, .colLgOffset__0, .colLgOffset__1, .colLgOffset__2, .colLgOffset__3, .colLgOffset__4, .colLgOffset__5, .colLgOffset__6, .colLgOffset__7, .colLgOffset__8, .colLgOffset__9, .colLgOffset__10, .colLgOffset__11, .colLgOffset__12, .colXl, .colXl__1, .colXl__2, .colXl__3, .colXl__4, .colXl__5, .colXl__6, .colXl__7, .colXl__8, .colXl__9, .colXl__10, .colXl__11, .colXl__12, .colXlOffset__0, .colXlOffset__1, .colXlOffset__2, .colXlOffset__3, .colXlOffset__4, .colXlOffset__5, .colXlOffset__6, .colXlOffset__7, .colXlOffset__8, .colXlOffset__9, .colXlOffset__10, .colXlOffset__11, .colXlOffset__12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.colXs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

.colXs__1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.colXs__2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.colXs__3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

.colXs__4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.colXs__5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.colXs__6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.colXs__7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.colXs__8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.colXs__9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.colXs__10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.colXs__11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.colXs__12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
}

.colXsOffset__0 {
    margin-left: 0
}

.colXsOffset__1 {
    margin-left: 8.33333333%
}

.colXsOffset__2 {
    margin-left: 16.66666667%
}

.colXsOffset__3 {
    margin-left: 25%
}

.colXsOffset__4 {
    margin-left: 33.33333333%
}

.colXsOffset__5 {
    margin-left: 41.66666667%
}

.colXsOffset__6 {
    margin-left: 50%
}

.colXsOffset__7 {
    margin-left: 58.33333333%
}

.colXsOffset__8 {
    margin-left: 66.66666667%
}

.colXsOffset__9 {
    margin-left: 75%
}

.colXsOffset__10 {
    margin-left: 83.33333333%
}

.colXsOffset__11 {
    margin-left: 91.66666667%
}

.startXs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start
}

.centerXs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.endXs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end
}

.topXs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.middleXs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.bottomXs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.aroundXs {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.betweenXs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.firstXs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
}

.lastXs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.initial-orderXs {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial
}

@media only screen and (min-width: 576px) {

    .colXs, .colXs__1, .colXs__2, .colXs__3, .colXs__4, .colXs__5, .colXs__6, .colXs__7, .colXs__8, .colXs__9, .colXs__10, .colXs__11, .colXs__12, .colXsOffset__0, .colXsOffset__1, .colXsOffset__2, .colXsOffset__3, .colXsOffset__4, .colXsOffset__5, .colXsOffset__6, .colXsOffset__7, .colXsOffset__8, .colXsOffset__9, .colXsOffset__10, .colXsOffset__11, .colXsOffset__12, .colSm, .colSm__1, .colSm__2, .colSm__3, .colSm__4, .colSm__5, .colSm__6, .colSm__7, .colSm__8, .colSm__9, .colSm__10, .colSm__11, .colSm__12, .colSmOffset__0, .colSmOffset__1, .colSmOffset__2, .colSmOffset__3, .colSmOffset__4, .colSmOffset__5, .colSmOffset__6, .colSmOffset__7, .colSmOffset__8, .colSmOffset__9, .colSmOffset__10, .colSmOffset__11, .colSmOffset__12, .colMd, .colMd__1, .colMd__2, .colMd__3, .colMd__4, .colMd__5, .colMd__6, .colMd__7, .colMd__8, .colMd__9, .colMd__10, .colMd__11, .colMd__12, .colMdOffset__0, .colMdOffset__1, .colMdOffset__2, .colMdOffset__3, .colMdOffset__4, .colMdOffset__5, .colMdOffset__6, .colMdOffset__7, .colMdOffset__8, .colMdOffset__9, .colMdOffset__10, .colMdOffset__11, .colMdOffset__12, .colLg, .colLg__1, .colLg__2, .colLg__3, .colLg__4, .colLg__5, .colLg__6, .colLg__7, .colLg__8, .colLg__9, .colLg__10, .colLg__11, .colLg__12, .colLgOffset__0, .colLgOffset__1, .colLgOffset__2, .colLgOffset__3, .colLgOffset__4, .colLgOffset__5, .colLgOffset__6, .colLgOffset__7, .colLgOffset__8, .colLgOffset__9, .colLgOffset__10, .colLgOffset__11, .colLgOffset__12, .colXl, .colXl__1, .colXl__2, .colXl__3, .colXl__4, .colXl__5, .colXl__6, .colXl__7, .colXl__8, .colXl__9, .colXl__10, .colXl__11, .colXl__12, .colXlOffset__0, .colXlOffset__1, .colXlOffset__2, .colXlOffset__3, .colXlOffset__4, .colXlOffset__5, .colXlOffset__6, .colXlOffset__7, .colXlOffset__8, .colXlOffset__9, .colXlOffset__10, .colXlOffset__11, .colXlOffset__12 {
        padding-right: 12px;
        padding-left: 12px;
    }

    .colSm {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .colSm__1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .colSm__2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .colSm__3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .colSm__4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .colSm__5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .colSm__6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .colSm__7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .colSm__8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .colSm__9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .colSm__10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .colSm__11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .colSm__12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .colSmOffset__0 {
        margin-left: 0
    }

    .colSmOffset__1 {
        margin-left: 8.33333333%
    }

    .colSmOffset__2 {
        margin-left: 16.66666667%
    }

    .colSmOffset__3 {
        margin-left: 25%
    }

    .colSmOffset__4 {
        margin-left: 33.33333333%
    }

    .colSmOffset__5 {
        margin-left: 41.66666667%
    }

    .colSmOffset__6 {
        margin-left: 50%
    }

    .colSmOffset__7 {
        margin-left: 58.33333333%
    }

    .colSmOffset__8 {
        margin-left: 66.66666667%
    }

    .colSmOffset__9 {
        margin-left: 75%
    }

    .colSmOffset__10 {
        margin-left: 83.33333333%
    }

    .colSmOffset__11 {
        margin-left: 91.66666667%
    }

    .startSm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }

    .centerSm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .endSm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }

    .topSm {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .middleSm {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottomSm {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .aroundSm {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .betweenSm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .firstSm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .lastSm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .initial-orderSm {
        -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
        order: initial
    }
}

@media only screen and (min-width: 768px) {

    .colXs, .colXs__1, .colXs__2, .colXs__3, .colXs__4, .colXs__5, .colXs__6, .colXs__7, .colXs__8, .colXs__9, .colXs__10, .colXs__11, .colXs__12, .colXsOffset__0, .colXsOffset__1, .colXsOffset__2, .colXsOffset__3, .colXsOffset__4, .colXsOffset__5, .colXsOffset__6, .colXsOffset__7, .colXsOffset__8, .colXsOffset__9, .colXsOffset__10, .colXsOffset__11, .colXsOffset__12, .colSm, .colSm__1, .colSm__2, .colSm__3, .colSm__4, .colSm__5, .colSm__6, .colSm__7, .colSm__8, .colSm__9, .colSm__10, .colSm__11, .colSm__12, .colSmOffset__0, .colSmOffset__1, .colSmOffset__2, .colSmOffset__3, .colSmOffset__4, .colSmOffset__5, .colSmOffset__6, .colSmOffset__7, .colSmOffset__8, .colSmOffset__9, .colSmOffset__10, .colSmOffset__11, .colSmOffset__12, .colMd, .colMd__1, .colMd__2, .colMd__3, .colMd__4, .colMd__5, .colMd__6, .colMd__7, .colMd__8, .colMd__9, .colMd__10, .colMd__11, .colMd__12, .colMdOffset__0, .colMdOffset__1, .colMdOffset__2, .colMdOffset__3, .colMdOffset__4, .colMdOffset__5, .colMdOffset__6, .colMdOffset__7, .colMdOffset__8, .colMdOffset__9, .colMdOffset__10, .colMdOffset__11, .colMdOffset__12, .colLg, .colLg__1, .colLg__2, .colLg__3, .colLg__4, .colLg__5, .colLg__6, .colLg__7, .colLg__8, .colLg__9, .colLg__10, .colLg__11, .colLg__12, .colLgOffset__0, .colLgOffset__1, .colLgOffset__2, .colLgOffset__3, .colLgOffset__4, .colLgOffset__5, .colLgOffset__6, .colLgOffset__7, .colLgOffset__8, .colLgOffset__9, .colLgOffset__10, .colLgOffset__11, .colLgOffset__12, .colXl, .colXl__1, .colXl__2, .colXl__3, .colXl__4, .colXl__5, .colXl__6, .colXl__7, .colXl__8, .colXl__9, .colXl__10, .colXl__11, .colXl__12, .colXlOffset__0, .colXlOffset__1, .colXlOffset__2, .colXlOffset__3, .colXlOffset__4, .colXlOffset__5, .colXlOffset__6, .colXlOffset__7, .colXlOffset__8, .colXlOffset__9, .colXlOffset__10, .colXlOffset__11, .colXlOffset__12 {
        padding-right: 24px;
        padding-left: 24px;
    }

    .colMd {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .colMd__1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .colMd__2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .colMd__3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .colMd__4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .colMd__5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .colMd__6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .colMd__7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .colMd__8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .colMd__9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .colMd__10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .colMd__11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .colMd__12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .colMdOffset__0 {
        margin-left: 0
    }

    .colMdOffset__1 {
        margin-left: 8.33333333%
    }

    .colMdOffset__2 {
        margin-left: 16.66666667%
    }

    .colMdOffset__3 {
        margin-left: 25%
    }

    .colMdOffset__4 {
        margin-left: 33.33333333%
    }

    .colMdOffset__5 {
        margin-left: 41.66666667%
    }

    .colMdOffset__6 {
        margin-left: 50%
    }

    .colMdOffset__7 {
        margin-left: 58.33333333%
    }

    .colMdOffset__8 {
        margin-left: 66.66666667%
    }

    .colMdOffset__9 {
        margin-left: 75%
    }

    .colMdOffset__10 {
        margin-left: 83.33333333%
    }

    .colMdOffset__11 {
        margin-left: 91.66666667%
    }

    .startMd {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }

    .centerMd {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .endMd {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }

    .topMd {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .middleMd {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottomMd {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .aroundMd {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .betweenMd {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .firstMd {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .lastMd {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .initial-orderMd {
        -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
        order: initial
    }
}

@media only screen and (min-width: 992px) {

    .colXs, .colXs__1, .colXs__2, .colXs__3, .colXs__4, .colXs__5, .colXs__6, .colXs__7, .colXs__8, .colXs__9, .colXs__10, .colXs__11, .colXs__12, .colXsOffset__0, .colXsOffset__1, .colXsOffset__2, .colXsOffset__3, .colXsOffset__4, .colXsOffset__5, .colXsOffset__6, .colXsOffset__7, .colXsOffset__8, .colXsOffset__9, .colXsOffset__10, .colXsOffset__11, .colXsOffset__12, .colSm, .colSm__1, .colSm__2, .colSm__3, .colSm__4, .colSm__5, .colSm__6, .colSm__7, .colSm__8, .colSm__9, .colSm__10, .colSm__11, .colSm__12, .colSmOffset__0, .colSmOffset__1, .colSmOffset__2, .colSmOffset__3, .colSmOffset__4, .colSmOffset__5, .colSmOffset__6, .colSmOffset__7, .colSmOffset__8, .colSmOffset__9, .colSmOffset__10, .colSmOffset__11, .colSmOffset__12, .colMd, .colMd__1, .colMd__2, .colMd__3, .colMd__4, .colMd__5, .colMd__6, .colMd__7, .colMd__8, .colMd__9, .colMd__10, .colMd__11, .colMd__12, .colMdOffset__0, .colMdOffset__1, .colMdOffset__2, .colMdOffset__3, .colMdOffset__4, .colMdOffset__5, .colMdOffset__6, .colMdOffset__7, .colMdOffset__8, .colMdOffset__9, .colMdOffset__10, .colMdOffset__11, .colMdOffset__12, .colLg, .colLg__1, .colLg__2, .colLg__3, .colLg__4, .colLg__5, .colLg__6, .colLg__7, .colLg__8, .colLg__9, .colLg__10, .colLg__11, .colLg__12, .colLgOffset__0, .colLgOffset__1, .colLgOffset__2, .colLgOffset__3, .colLgOffset__4, .colLgOffset__5, .colLgOffset__6, .colLgOffset__7, .colLgOffset__8, .colLgOffset__9, .colLgOffset__10, .colLgOffset__11, .colLgOffset__12, .colXl, .colXl__1, .colXl__2, .colXl__3, .colXl__4, .colXl__5, .colXl__6, .colXl__7, .colXl__8, .colXl__9, .colXl__10, .colXl__11, .colXl__12, .colXlOffset__0, .colXlOffset__1, .colXlOffset__2, .colXlOffset__3, .colXlOffset__4, .colXlOffset__5, .colXlOffset__6, .colXlOffset__7, .colXlOffset__8, .colXlOffset__9, .colXlOffset__10, .colXlOffset__11, .colXlOffset__12 {
        padding-right: 24px;
        padding-left: 24px;
    }

    .colLg {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .colLg__1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .colLg__2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .colLg__3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .colLg__4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .colLg__5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .colLg__6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .colLg__7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .colLg__8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .colLg__9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .colLg__10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .colLg__11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .colLg__12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .colLgOffset__0 {
        margin-left: 0
    }

    .colLgOffset__1 {
        margin-left: 8.33333333%
    }

    .colLgOffset__2 {
        margin-left: 16.66666667%
    }

    .colLgOffset__3 {
        margin-left: 25%
    }

    .colLgOffset__4 {
        margin-left: 33.33333333%
    }

    .colLgOffset__5 {
        margin-left: 41.66666667%
    }

    .colLgOffset__6 {
        margin-left: 50%
    }

    .colLgOffset__7 {
        margin-left: 58.33333333%
    }

    .colLgOffset__8 {
        margin-left: 66.66666667%
    }

    .colLgOffset__9 {
        margin-left: 75%
    }

    .colLgOffset__10 {
        margin-left: 83.33333333%
    }

    .colLgOffset__11 {
        margin-left: 91.66666667%
    }

    .startLg {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }

    .centerLg {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .endLg {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }

    .topLg {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .middleLg {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottomLg {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .aroundLg {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .betweenLg {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .firstLg {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .lastLg {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .initial-orderLg {
        -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
        order: initial
    }
}

@media only screen and (min-width: 1423px) {

    .colXs, .colXs__1, .colXs__2, .colXs__3, .colXs__4, .colXs__5, .colXs__6, .colXs__7, .colXs__8, .colXs__9, .colXs__10, .colXs__11, .colXs__12, .colXsOffset__0, .colXsOffset__1, .colXsOffset__2, .colXsOffset__3, .colXsOffset__4, .colXsOffset__5, .colXsOffset__6, .colXsOffset__7, .colXsOffset__8, .colXsOffset__9, .colXsOffset__10, .colXsOffset__11, .colXsOffset__12, .colSm, .colSm__1, .colSm__2, .colSm__3, .colSm__4, .colSm__5, .colSm__6, .colSm__7, .colSm__8, .colSm__9, .colSm__10, .colSm__11, .colSm__12, .colSmOffset__0, .colSmOffset__1, .colSmOffset__2, .colSmOffset__3, .colSmOffset__4, .colSmOffset__5, .colSmOffset__6, .colSmOffset__7, .colSmOffset__8, .colSmOffset__9, .colSmOffset__10, .colSmOffset__11, .colSmOffset__12, .colMd, .colMd__1, .colMd__2, .colMd__3, .colMd__4, .colMd__5, .colMd__6, .colMd__7, .colMd__8, .colMd__9, .colMd__10, .colMd__11, .colMd__12, .colMdOffset__0, .colMdOffset__1, .colMdOffset__2, .colMdOffset__3, .colMdOffset__4, .colMdOffset__5, .colMdOffset__6, .colMdOffset__7, .colMdOffset__8, .colMdOffset__9, .colMdOffset__10, .colMdOffset__11, .colMdOffset__12, .colLg, .colLg__1, .colLg__2, .colLg__3, .colLg__4, .colLg__5, .colLg__6, .colLg__7, .colLg__8, .colLg__9, .colLg__10, .colLg__11, .colLg__12, .colLgOffset__0, .colLgOffset__1, .colLgOffset__2, .colLgOffset__3, .colLgOffset__4, .colLgOffset__5, .colLgOffset__6, .colLgOffset__7, .colLgOffset__8, .colLgOffset__9, .colLgOffset__10, .colLgOffset__11, .colLgOffset__12, .colXl, .colXl__1, .colXl__2, .colXl__3, .colXl__4, .colXl__5, .colXl__6, .colXl__7, .colXl__8, .colXl__9, .colXl__10, .colXl__11, .colXl__12, .colXlOffset__0, .colXlOffset__1, .colXlOffset__2, .colXlOffset__3, .colXlOffset__4, .colXlOffset__5, .colXlOffset__6, .colXlOffset__7, .colXlOffset__8, .colXlOffset__9, .colXlOffset__10, .colXlOffset__11, .colXlOffset__12 {
        padding-right: 24px;
        padding-left: 24px;
    }

    .colXl {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }

    .colXl__1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .colXl__2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .colXl__3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }

    .colXl__4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .colXl__5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .colXl__6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }

    .colXl__7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .colXl__8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .colXl__9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

    .colXl__10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .colXl__11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .colXl__12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .colXlOffset__0 {
        margin-left: 0
    }

    .colXlOffset__1 {
        margin-left: 8.33333333%
    }

    .colXlOffset__2 {
        margin-left: 16.66666667%
    }

    .colXlOffset__3 {
        margin-left: 25%
    }

    .colXlOffset__4 {
        margin-left: 33.33333333%
    }

    .colXlOffset__5 {
        margin-left: 41.66666667%
    }

    .colXlOffset__6 {
        margin-left: 50%
    }

    .colXlOffset__7 {
        margin-left: 58.33333333%
    }

    .colXlOffset__8 {
        margin-left: 66.66666667%
    }

    .colXlOffset__9 {
        margin-left: 75%
    }

    .colXlOffset__10 {
        margin-left: 83.33333333%
    }

    .colXlOffset__11 {
        margin-left: 91.66666667%
    }

    .startXl {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }

    .centerXl {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }

    .endXl {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }

    .topXl {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .middleXl {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bottomXl {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .aroundXl {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .betweenXl {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .firstXl {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .lastXl {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .initial-orderXl {
        -webkit-box-ordinal-group: NaN;
        -ms-flex-order: initial;
        order: initial
    }
}

@media only screen and (max-width: 575px) {
    .hiddenXs {
        display: none
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .hiddenSm {
        display: none
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .hiddenMd {
        display: none
    }
}

@media only screen and (min-width: 992px) and (max-width:1422px) {
    .hiddenLg {
        display: none
    }
}

@media only screen and (min-width: 1423px) {
    .hiddenXl {
        display: none
    }
}

.noGutters {
    margin-right: 0;
    margin-left: 0;
}

    .noGutters > .col, .noGutters > [class*="col"] {
        padding-right: 0;
        padding-left: 0;
    }
